{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{home.Sell}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Sell">Sell</label>
            <input id="Sell" type="text" class="form-control" placeholder="Sell" name="Sell" value="{{home.Sell}}">
        </div>
        <div class="col">
            <label for="List">List</label>
            <input id="List" type="text" class="form-control" placeholder="List" name="List" value="{{home.List}}">
        </div>
        <div class="col">
            <label for="Living">Living</label>
            <input id="Living" type="text" class="form-control" placeholder="Living" name="Living" value="{{home.Living}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Rooms">Rooms</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Rooms" name="Rooms" value="{{home.Rooms}}">
        </div>
        <div class="col">
            <label for="Beds">Beds</label>
            <input id="Beds" type="text" class="form-control" placeholder="Beds" name="Beds" value="{{home.Beds}}">
        </div>
        <div class="col">
            <label for="Baths">Baths</label>
            <input id="Baths" type="text" class="form-control" placeholder="Baths" name="Baths" value="{{home.Baths}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age" name="Age" value="{{home.Age}}">
        </div>
        <div class="col">
            <label for="Acres">Acres</label>
            <input id="Acres" type="text" class="form-control" placeholder="Acres" name="Acres" value="{{home.Acres}}">
        </div>
        <div class="col">
            <label for="Taxes">Taxes</label>
            <input id="Taxes" type="text" class="form-control" placeholder="Taxes" name="Taxes" value="{{home.Taxes}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

