{% extends "layout.html" %}
{% block content %}
<form action="/home/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Sell">Sell</label>
            <input id="Sell" type="text" class="form-control" placeholder="Sell #" name="Sell">
        </div>
        <div class="col">
            <label for="List">List</label>
            <input id="List" type="text" class="form-control" placeholder="List"
                   name="List">
        </div>
        <div class="col">
            <label for="Living">Living</label>
            <input id="Living" type="text" class="form-control" placeholder="Living" name="Living">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Rooms">Rooms</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Rooms" name="Rooms">
        </div>
        <div class="col">
            <label for="Beds">Beds</label>
            <input id="Beds" type="text" class="form-control" placeholder="Beds" name="Beds">
        </div>
        <div class="col">
            <label for="Baths">Baths</label>
            <input id="Baths" type="text" class="form-control" placeholder="Baths" name="Baths">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age" name="Age">
        </div>
        <div class="col">
            <label for="Acres">Acres</label>
            <input id="Acres" type="text" class="form-control" placeholder="Acres" name="Acres">
        </div>
        <div class="col">
            <label for="Taxes">Taxes</label>
            <input id="Taxes" type="text" class="form-control" placeholder="Taxes" name="Taxes">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Add</button>

</form>

{% endblock %}

